*{
    margin: 0;
    padding: 0;
}
.corps{
    display: flex;
    font-weight: 400px;
    flex-direction: column;
    height: 100%;
    overflow-x: hidden;
    background: #fff;
    color: #0d0c22;
}

#wrap{
    width: 100%;
    height: 50px;
    margin: 10px;
    z-index: 50px;
    position: relative;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}
.navbar{
    display: flex;
}
.nav{
    height: 50px;
    padding: 0;
    margin: 0;
    position: absolute;
}
.nav li{
    height: auto;
    width: 120px;
    float: left;
    text-align: left;
    list-style: none;
    font: normal 13px/1em Arial, Verdana, Helvetica;
    padding: 0;
    margin: 0;
    background-color: #fff;
}
.nav a{
    display: block;
    padding: 10px 0;
    text-decoration: none;
    color: rgb(10, 10, 10);
    font-size: 14px;
}
.nav li:hover{
    display: block;
}
.nav li ul{
    display: none;
    height: auto;
    padding: 0;
    margin: 0;
}
.nav li:hover ul{
    display: block;
}
.nav li ul{
    background-color: #ffffff;
}
.nav li ul li a{
    border-left: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
    border-top: 1px solid #c9d4d8;
    border-bottom: 1px solid #ffffff;
}
.nav li ul li a:hover{
    background-color: #ffffff;
}
.nav li span{
    display: flex;
    font-size: 14px;
    width: 300px;
    padding-top: 6px;
    color: #939596;
    float: left;
}
/* button dribbble login singup */
.btndrible{
    border: none;
    height: 40px;
    text-align: center;
    padding-right: 10%;
    background-color: #fff;
    width: 400px;
    font-weight: bold;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.p2{
    display: block;
}
input{
    border: 1px solid rgb(238, 190, 238);
    height: 30px;
    width: 190px;
    border-radius: 20px;
    padding-left: 30px;
}
.btnlog{
    height: auto;
    text-align: center;
    background-color: rgb(254, 254, 254);
    width: 50px;
    border: 1px solid white;
    border-radius: 20px;
    width: 100px;
}
.btnlog a{
    color: black;
    font-size: 16px;
    font-weight: bold;
}
.btnsign{
    height: auto;
    text-align: center;
    background-color: rgb(7, 7, 7);
    width: 50px;
    border: 1px solid black;
    border-radius: 20px;
    width: 100px;
}
.btnsign a{
    color: white;
    font-size: 16px;
    font-weight: bold;
}
/* css world destination */
.container{
    height: 40px;
    padding: 0;
    margin: 0;
}
.home{
    text-align: center;
    margin-top: 5%;
    margin-left: 35%;
    width: 20%;
    background-color: violet;
    height: 25%;
    border-radius: 20px;
    padding: 25px; 
    padding-top: 15px;
}
.home a{
    text-decoration: none;
    color: black;
    font: normal bold 13px/1em Arial, Verdana, Helvetica;
}
.home:hover{
    background-color: violet;
}
.text h1{
    padding-top: 8%;
    text-align: center;
    margin-left: 26%;
    width: 50%;
    font-size: 65px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.text p{
    text-align: center;
    padding-top: 20px;
    font-size: 20px;
}
.start{
    text-align: center;
    margin-top: 3%;
    margin-left: 45%;
    width: 120px;
    background-color: rgb(5, 5, 5);
    height: 20px;
    border-radius: 20px;
    padding: 20px;
}
.start li{
    height: auto;
    width: 130px;
    float: right;
    text-align: center;
    list-style: none;
    font: normal bold 13px/1em Arial, Verdana, Helvetica;
    padding: 0;
    margin: 0;
    margin-top: 2px;
}
.start a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 16px;
    text-align: center;
    margin-left: 10px;
}
.start:hover{
    background-color: rgb(110, 109, 109);
}
/* fin css world destination */

/* defilement images */
.defilement{
    height: 250px;
    margin: auto;
    position: relative;
    width: 100%;
    display: grid;
    place-items: center;
    overflow: hidden;
    margin-top: 50px;
}
.contenu{
    display: flex;
    width: calc(250px * 18);
    animation: ass 40s linear infinite;
    gap: 15px;
}
.self{
    height: 250px;
    width: 250px;
    display: flex;
    align-items: center;
    padding: 3px;
    perspective: 100px;
}
.self img{
    width: 250px;
    height: 250px;
    border-radius: 20px;
    margin: 10px;
}
@keyframes ass {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-250px *9));
    }
}
.name{
    position: absolute;
    top: 150px;
    color: rgb(246, 241, 241);
    padding-top: 8px;
    margin: 20px;
    font-size: 16px;
}
.nom{
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    float: left;
}
.name li{
    height: auto;
    width: 120px;
    float: left;
    list-style: none;
    text-align: center;
    margin-left: 10%;
}
.htag{
    display: flex;
    width: 50%;
    text-align: center;
    padding: 10px;
}
.htags{
    height: 10px;
    text-align: center;
    font: normal;
    border: 1px solid rgb(243, 240, 240);
    border-radius: 40px;
    position: fixed;
}

/* debut css exploration */
h4{
    margin-top: 100px;
    text-align: center;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.gril_images{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    font-size: 16px;
    text-align: left;
    grid-gap: 5px;
    margin-bottom: 100px;
    margin-top: 20px;
    max-height: 0px;
    cursor: pointer;
    padding-left: 50px;
}
.gril_images img{
    width: 300px;
    height: 250px;
    border-radius: 20px;
}
.gril_images span{
    margin-left: 10px;
}
/* images exploring inspiring designs */
.namesimgs .nom{
    padding-bottom: 20px;
}
.namesimgs .btnpro{
    border: none;
    width: 40px;
    margin-left: 5px;
    border-radius: 8px;
    background-color: #fdfeff;
}
.namesimgs .btnpro a{
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 14px;
}
.namesimgs .btnpro:hover{
    background-color: rgb(14,14,14);
}
.namesimgs #fa1{
    padding-left: 50px;
    font-size: 10px;
    color: gainsboro;
}
.namesimgs #fa1:hover{
    color: fuchsia;
}
.namesimgs #fa2{
    padding-left: 10px;
    font-size: 10px;
    color: gainsboro;
}
.namesimgs .nbre1{
    color: rgb(147, 145, 145);
}
.namesimgs .nbre2{
    margin-left: 10px;
    color: rgb(147, 145, 145);
}
/* effet de survol sur l'image */
.ims{
    cursor: pointer;
    overflow: hidden;
    position: relative;
    height: 320px;
    width: 370px;
    text-align: left;
}
.ims .survole{
    /* background-color:whitesmoke; */
    position: absolute;
    top: 0;
    left: 0;
    color: rgb(0, 0, 0);
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    opacity: 0;
    width: 200px;
    height: 100px;
    padding: 180px 5px;
}
.ims:hover .survole{
    opacity: 1.5;
}
.ims .text{
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    transform: translateY(30px);
    -webkit-transform: translateY(30px);
    /* font-size: 10px; */
}
.ims .title{
    font-size: 2.5em;
    text-transform: uppercase;
    opacity: 0;
    transition-delay: 0.2s;
    transition-duration: 0.3s;
    font-size: 14px;
    margin-top: 20px;
    font-weight: bold;
}
.ims:hover .title,
.ims:focus .title{
    opacity: 1;
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
}
/* fin effet de survol */
/* effet de survol sur les icones de l'image */
.ims .icones{
    position: absolute;
    top: 0;
    left: 0;
    color: rgb(15, 15, 15);
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    opacity: 0;
    width: 100px;
    height: 50px;
    padding: 180px 5px;
    padding-left: 230px;
    margin-top: 20px;
}
.ims:hover .icones{
    opacity: 1.5;
}
.ims .namesicones{
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    transform: translateY(30px);
    -webkit-transform: translateY(30px);
    font-size: 2.5em;
    text-transform: uppercase;
    opacity: 0;
    transition-delay: 0.2s;
    transition-duration: 0.3s;
    font-size: 14px;
    margin-top: 20px;
    font-weight: bold;
}
.ims:hover .namesicones,
.ims:focus .namesicones{
    opacity: 1;
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
}
.fa{
    padding: 5px;
}
/* fin effet de survol des sur l'image */
/* css browse more inspiration */
.inspiration{
    display: flex;
    padding-top: 1000px;
    text-align: center;
    font-size: 20px;
    margin-top: 290px;   
    margin-left: 40%;
    width: 100%;
}
.inspiration li{
    list-style: none;  
}
.inspiration li a{
    text-decoration: none;
    color: black;
    border: 1px solid black;
    border-radius: 20px;
    padding: 20px; 
}
.inspiration li a:hover{
    background: rgb(233, 229, 229);
}
/* css section designer */
.designer{
    background-color: rgb(238, 190, 94);
    height: 500px;
    width: 100%;
    margin-top: 50px;
}
.designer h1{
    text-align: center;
    margin-left: 40px;
    padding-top: 100px;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
}
.p1{
    text-align: center;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-right: 2px;
    padding-top: 20px;

}
/* button start */
.design{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    margin-left: 70px;
}
.get{
    text-align: center;
    list-style: none;
    background-color: rgb(18, 17, 17);
    margin-left: 35%;
    width: 12%;
    border: 1px solid black;
    border-radius: 20px;
    height: 40px;
    padding-top: 12px;
    cursor: pointer;
}
.get a{
    text-decoration: none;
    color: rgb(252, 250, 250);
    width: 100%;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px; 
}
.get:hover{
    background-color: rgb(166, 197, 211);
}
/* button learn hiring */
.learn{
    text-align: center;
    list-style: none;
    margin-right: 40%;
    width: 12%;
    border: 1px solid black;
    border-radius: 20px;
    height: 40px;
    background-color: rgb(255, 254, 254);
    padding-top: 12px;
    cursor: pointer;
}
.learn a{
    text-decoration: none;
    color: rgb(18, 17, 17);
    width: 100%;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;   
}
.learn:hover{
    background-color: rgb(244, 234, 234);
}
.p1 p{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}
.p1 a{
    color: rgb(11, 11, 11);
    width: 100%;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

/* css grille 2 défilement*/
.imagesdefile{
    display: grid;
    margin: auto;
    position: relative;
    place-items: center;
    overflow: hidden;
    width: 100%;
    height: 250px;
}
.gril2_images{
    display: flex;
    width: calc(250px * 16);
    animation: ass 40s linear infinite;
}
.gril2_images:hover{
    animation-play-state: paused;
}
.gril2_images img{
    width: 200px;
}
.gril2_images span{
    margin-left: 80px;
    margin-top: 175px;
}
.imgs{
    height: 50px;
    width: 250px;
    display: flex;
    align-items: center;
    padding: 3px;
    perspective: 100px;
}
@keyframes ass{
    0% {
        transition: translateX(0);
    }100%{
        transform: translateX(calc(-250px * 9));
    }
}

/* fin css grille 2 défilement*/

/* début footer */
.container{
    margin-top: 50px;
    display: flex;
    text-align: center;
    width: 100%;
    margin-left: 50px;
}
.foot{
    display: flex;
    text-align: center;
    width: 100%;
    justify-content: center;
    padding: 5px 0;
}
.foot ul{
    list-style: none;
    width: 100%;
    text-align: center;
    padding-left: 20px;
}
.foot ul li{
    display: inline-block;
    margin: 10px 20px;
}
.foot ul li a{
    color: #0f0f0f;
    text-decoration: none;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.btnfooter{
    border: none;
    height: 40px;
    text-align: center;
    background-color: #fff;
    width: 100px;
    margin-left: 80px;
    font-weight: bold;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.btnfooter a{
    text-decoration: none;
    color: black;
    font-family: cursive;
    font-style: italic;
    font-size: 20px;
}
/* sociallinks */
.social-links{
    display: flex;
    width: 30%;
    justify-content: center;
    margin-right: 30px;
}
.social-links ul{
    list-style: none;
    width: 100%;
    text-align: center;
    padding-right: 60px;
}
.social-links ul li{
    display: inline-block;
    margin: 5px 10px;
}
.social-links ul li a{
    color: #0f0f0f;
    text-decoration: none;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.container1{
    margin-top: 100px;
    display: flex;
    text-align: center;
    width: 100%;
    margin-left: 50px;
}
small{
    margin-left: 70px;
    font-size: 16px;
    margin-top: 20px;
}
.tpc{
    display: flex;
    text-align: center;
    width: 40%;
    justify-content: center;
    padding: 5px 0;
}
.tpc ul{
    list-style: none;
    width: 100%;
    text-align: center;
    padding-left: 20px;
}
.tpc ul li{
    display: inline-block;
    margin: 10px 20px;
}
.tpc ul li a{
    color: #0f0f0f;
    text-decoration: none;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}
.job{
    display: flex;
    text-align: center;
    width: 40%;
    justify-content: center;
    padding: 5px 0;
}
.job ul{
    list-style: none;
    width: 100%;
    text-align: center;
    padding-left: 7%;
}
.job ul li{
    display: inline-block;
    margin: 10px 20px;
}
.job ul li a{
    color: #0f0f0f;
    text-decoration: none;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}
/* fin footer */
@media(max-width: 800px){
    .corps{
        flex-direction: column;
    }
    .foot{
        width: 50%;
    }
    .social-links{
        width: 50%;
    }
    .container1{
        width: 50%;
    } 
    .job{
        width: 50%;
    } 
    .gril2_images{
        flex-direction: column;
        width: 50%;
    }
    .designer{
        flex-direction: column;
        width: auto;
        height: auto;
    }
    .inspiration{
        flex-direction: column;
        width: auto;
    }
    .gril_images{
        flex-direction: column;
        width: 50%;
    }
    .p2{
        flex-direction: column;
        width: auto;
        height: auto;
    }
    .navbar{
        flex-direction: column;
        height: auto;
    }
    .nav{
        height: 50px;
    }
    
}
